/*  geral*/

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}
html{
height: 100vh;

}
body{
<<<<<<< HEAD
/* background-color: #292929; */
background-image: linear-gradient(to right, #1488CC , #2B32B2);
=======
background-image: linear-gradient(to right, #1488CC , #2B32B2);
}

>>>>>>> c4e0d3833df33a0e09593c2409cfe8f84bc909f5
}

button{
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: .3rem .6rem;
font-size: 1rem;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
transition:.4s;


}

button:hover{
background-color: #102f5e;
color: #fff;
}

button:hover > i{      /*estilizar somente o icone interno*/
    color:#fff;
}

button i {
color:#102f5e;
font-weight: bold;
pointer-events: none;

}

input,select{
padding:.25rem .5rem ;

}

.hide{
display: none;
}

/* todo header */

.todo-container{
 max-width:450px;
margin: 3rem auto ;
background-color: #fdfdfd;
padding:1.5rem ;  /*tira os elementos da extremidade */
border-radius: 15px;
}

.todo-container header{
 text-align: center;
padding: 0 1rem 1rem ;
border-bottom: 1px solid #ccc;

}

/* todo form */

#todo-form , 
#edit-form {
padding: 1rem;
border-bottom: 1px solid #ccc;
}

#todo-form p, 
#edit-form p{
 margin-bottom:.5rem ;
font-weight: bolder;


}

.form-control{
    display: flex;
}
.form-control input{

    margin-right: 0.3rem;

}

#cancel-edit-btn{
   margin-top: 1rem; 
}

/* todo toolbar */

#toolbar{
padding:1rem;
border-bottom: 1px solid #ccc;
display: flex;

}
#toolbar h4{
    margin-bottom: .5rem;

}

#search{
    border-right: 1px solid #ddd ;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form{

display: flex;
}

#search input{
width: 100%;
margin-right: .3rem;
}

#filter{
width: 35%;
display: flex;
flex-direction: column;

}

#filter select{
    flex: 1;

}

/* to list */

.todo{
display: flex;
justify-content:space-around ;
align-items: center;
padding: 1rem;
border-bottom: 1px solid #ddd;
transition: .3s;
}

.todo h3{
flex: 1; /*cola os botões*/
font-size: .9rem;


}

.todo button{
margin-left: .4rem;
}

.done{
background-color: #395169;
}

.done h3 {
color:#fff;
text-decoration: line-through;
font-style: italic;

}
